/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-right-fade-enter-active {
  transition: all 0.4s ease;
}
.slide-right-fade-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-right-fade-enter, .slide-right-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(15px);
  opacity: 0;
}

.slide-left-fade-enter-active {
  transition: all 0.4s ease;
}
.slide-left-fade-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-left-fade-enter, .slide-left-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-15px);
  opacity: 0;
}

.slide-top-fade-enter-active {
  transition: all 0.4s ease;
}
.slide-top-fade-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-top-fade-enter,
.slide-top-fade-leave-to {
  transform: translateY(-15px);
  opacity: 0;
}

.slide-bottom-fade-enter-active {
  transition: all 0.4s ease;
}
.slide-bottom-fade-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-bottom-fade-enter,
.slide-bottom-fade-leave-to {
  transform: translateY(15px);
  opacity: 0;
}
