$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

.form-card {
  background: #fff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);

  .form-title {
    background-color: $primary;
    padding: 1.5rem;

    h1 {
      color: #fff;
      text-align: center;
      font-size: 1.5rem;
    }
  }

  .form-content {
    padding: 1rem 2rem 3rem;
  }
}
