// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato");
// Variables
@import "variables";
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
// Import Bulma utilities
@import "~bulma-utilities/sass/bulma-utilities";
// Animations
@import "anim";
// Set your colors
$primary-invert: findColorInvert($primary);
// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  )
);
// Links
$link: $link-color;
$link-invert: findColorInvert($link);
$link-focus-border: $primary;
h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h2-font-size;
}

.is-topmost {
  z-index: 10;
}

.is-clickable {
  cursor: pointer;
}

.is-cover {
  background-position: center;
  background-size: cover;
}

.is-absolute {
  position: absolute;
}

.is-rounded-b-l {
  border-bottom-left-radius: 0.5rem;
}

.is-rounded-b-r {
  border-bottom-right-radius: 0.5rem;
}

.is-rounded-t-l {
  border-top-left-radius: 0.5rem;
}

.is-rounded-t-r {
  border-top-right-radius: 0.5rem;
}

.is-pinned-l {
  left: 0;
}

.is-pinned-r {
  right: 0;
}

.is-pinned-t {
  top: 0;
}

.is-pinned-b {
  bottom: 0;
}

.is-hoverable-anim:hover {
  -webkit-transform: translateY(-5px);
  box-shadow: 0 8px 36px rgba(25, 8, 58, 0.36);
  transform: translateY(-5px);
}

.is-flex-conferences {
  justify-content: center;
  align-items: stretch;
}

.is-100vh {
  height: 100%;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.card-image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.has-text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.has-padding-t-8 {
  padding-top: 0.5rem;
}

.has-padding-b-8 {
  padding-bottom: 0.5rem;
}

.has-padding-l-8 {
  padding-left: 0.5rem;
}

.has-padding-r-8 {
  padding-right: 0.5rem;
}

.has-padding-8 {
  padding: 0.5rem;
}
